@using LAMovies_NET6.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@model LAMovies_NET6.Models.Movie

@{
    ViewData["Title"] = Model.nameMovie;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="movie-detail">
    <div class="container">

        <figure class="movie-detail-banner">
            <img src="@Model.uriImg" alt="Free guy movie poster">
        </figure>

        <div class="movie-detail-content">

            <h1 class="h1 detail-title">
                @Model.nameMovie
            </h1>

            <div class="meta-wrapper">

                <div class="badge-movie badge-outline">@Model.qualityMovie</div>

                <div class="badge-old badge-outline-old">@Model.minAgeMovie +</div>

                <div class="badge-time badge-outline-time">@Model.timeMovie</div>

                <div class="badge-time badge-outline-time">@Model.yearCreateMovie</div>

            </div>

            <div class="ganre-wrapper">
                Genres:
                @foreach (var genre in Model.GenreNames)
                {
                    <a href="#" onclick="window.location.href='/Genre/ListMovieByGenres?name=@genre'">
                        @genre
                    </a>
                }

            </div>
            <div class="ganre-wrapper">
                Actor:
                @foreach (var actor in Model.ActorNames)
                {
                    <a href="#">
                        @actor
                    </a>
                }

            </div>
            <p class="storyline">
                @Model.descriptionMovie
            </p>
            <div class="d-flex align-items-center r-mb-23">
                @if (SignInManager.IsSignedIn(User))
                {
                    @if (String.Compare(Model.typeMovie, "oddMovies", StringComparison.Ordinal) == 0)
                    {
                        <a href="/Movies/WatchMovie?movieId=@Model.idMovie" class="btn btn-danger iq-button">
                            <i class="fa-solid fa-play"></i>
                            Play Now
                        </a>
                    }
                    else
                    {
                        <a href="/Movies/WatchMovieSeries?movieId=@Model.idMovie&tap=1" class="btn btn-danger iq-button">
                            <i class="fa-solid fa-play"></i>
                            Play Now
                        </a>
                    }
                }
                else
                {
                    <a asp-controller="User" asp-action="ErrorLogin" class="btn btn-danger iq-button">
                        <i class="fa-solid fa-play"></i>
                        Play Now
                    </a>
                }
                <a href="@Model.uriMovieTrailer"
                   class="video-open btn btn-danger iq-button ml-3">
                    <i class="fa-solid fa-tv"></i>
                    Watch Trailer
                </a>
            </div>
        </div>


    </div>
</section>
<section id="iq-suggestede" class="pt-5">
    @Html.Partial("_PartialMovieHistory")
</section>
<section id="iq-favorites">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 overflow-hidden">
                <div class="iq-main-header d-flex align-items-center justify-content-between">
                    <h4 class="main-title">Related Movies</h4>
                </div>
                <div class="favorites-contens">
                    <ul class="favorites-slider list-inline row p-0 mb-0">
                        @Html.Partial("_PartialMoviesGenres")
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


