@model LAMovies_NET6.Models.DTO.MovieListDTO

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<section style="padding-top: 30px" class="content">
    <div class="card">
        <div class="card-header">
            <h2 class="text-center">Danh sách phim</h2>
            <div class="card-tools">
                <a asp-controller="Movies" asp-action="AddMovie" class="btn btn-success">Thêm phim</a>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Tên phim</th>
                        <th>Quốc gia</th>
                        <th>Chất lượng</th>
                        <th>Ảnh </th>
                        <th>Năm phát hành</th>
                        <th>Lượt xem</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model.MovieList)
                        {

                            <tr id="trow_@item.idMovie">
                                <td>@item.nameMovie</td>
                                <td>@item.subLanguageMovie</td>
                                <td>@item.qualityMovie</td>
                                <td>
                                    <img style="width:100px; height: 100px" src="@item.uriImg" />
                                </td>
                                <td>@item.yearCreateMovie</td>
                                <td>@item.viewMovie</td>
                                <td>
                                    @if (String.Compare(item.typeMovie, "oddMovies", StringComparison.Ordinal) == 0)
                                    {
                                        <a asp-controller="Movies" asp-action="AddURLOddMovie" asp-route-id="@item.idMovie" class="btn btn-sm btn-primary">URL Phim lẻ</a>
                                    }
                                    else
                                    {
                                        <a asp-controller="Movies" asp-action="QLURLSeriesMovie" asp-route-id="@item.idMovie" class="btn btn-sm btn-primary">URL Phim bộ</a>
                                    }
                                    <a asp-controller="Movies" asp-action="EditMovie" asp-route-id="@item.idMovie" class="btn btn-sm btn-primary"><i class="fa-solid fa-pen-to-square"></i></a>
                                    <a href="/Movies/DeleteMovie?id=@item.idMovie" onclick="return window.confirm('Xác nhận xoá?')" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a>

                                </td>
                            </tr>

                        }

                    }
                    else
                    {
                        <tr>
                            <td colspan="7">Không có phim nào!!!</td>
                        </tr>
                    }
        </div>
        </tbody>
        </table>
        <div class="d-flex justify-content-center pt-2">
            @for (int i = 1; i <= Model.totalPages; i++)
            {
                if (i == Model.currentPage)
                {
                    <a href="/Movies/QLMovies?currentPage=@i&term=@Model.term" class="active btn btn-outline-danger m-1">@i</a>
                }
                else
                {
                    <a href="/Movies/QLMovies?currentPage=@i&term=@Model.term" class="btn btn-outline-danger m-1">@i</a>

                }
            }
        </div>

    </div>
</section>