@model LAMovies_NET6.Models.Movie

@{
    ViewData["Title"] = "WatchMovie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="video-container iq-main-slider pt-5">
    <div class="container-fluid pt-4">
        <iframe src="@Model.uriMovie" width="100%" height="100%" frameborder="0" allowfullscreen></iframe>
    </div>
</div>
<div class="main-content movie">
    <section class="movie-detail container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="trending-info g-border">
                    <h1 class="trending-text big-title text-uppercase mt-0">@Model.nameMovie</h1>
                    <div class="ganre-wrapper">
                        Genres: 
                        @foreach (var genre in Model.GenreNames)
                        {
                            <a href="#">
                                @genre 
                            </a>
                        }

                    </div>
                    <div class="d-flex align-items-center text-white text-detail mt-2">
                        <span class="badge badge-secondary p-3">@Model.minAgeMovie +</span>
                        <span class="ml-3">@Model.timeMovie</span>
                        <span class="trending-year">@Model.yearCreateMovie</span>
                    </div>
                    <h3>Description</h3>
                    <p class="trending-dec w-100 mb-0">
                        @Model.descriptionMovie
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>

