@model LAMovies_NET6.Models.DTO.MovieListDTO
@using LAMovies_NET6.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section id="home" class="iq-main-slider p-0">
    <!-- Slider -->
    @Html.Partial("_PartialNewMovies")
    <!-- Slider End -->
    <!-- MainContent -->
    <div class="main-content">
        <section class="list-movies">
            <div class="container">
                <h2 class="h2 section-title text-center">All Movies</h2>
                <ul class="movies-list">
                    @foreach (var item in Model.MovieList)
                    {
                            <li>
                            <div class="movie-card" onclick="window.location.href='/Movies/MovieDetail?movieId=@item.idMovie'">
                                    <a href="#">
                                        <figure class="card-banner">
                                            <img src="@item.uriImg" alt="Morbius movie poster">
                                        </figure>
                                    </a>

                                    <div class="title-wrapper text-center">
                                        <a href="#">
                                            <h3 class="card-title">@item.nameMovie</h3>
                                        </a>
                                    </div>

                                    <div class="card-meta d-flex justify-content-center">
                                        <div class="badge-old badge-outline-old">@item.viewMovie view</div>

                                        <div class="badge-movie badge-outline">@item.qualityMovie</div>

                                        <div class="badge-time badge-outline-time">@item.minAgeMovie +</div>
                                    </div>

                                </div>
                            </li>
                    }
                </ul>
            </div>

            <div class="d-flex justify-content-center pt-2">
                @for (int i = 1; i <= Model.totalPages; i++)
                {
                    if (i == Model.currentPage)
                    {
                        <a href="/Home/Index?currentPage=@i&term=@Model.term" class="active btn btn-outline-danger m-2">@i</a>
                    }
                    else
                    {
                        <a href="/Home/Index?currentPage=@i&term=@Model.term" class="btn btn-outline-danger m-2">@i</a>

                    }
                }

            </div>
        </section>
        @if (SignInManager.IsSignedIn(User))
        {
            <section id="iq-suggestede" class="pt-5">
                @Html.Partial("_PartialMovieHistory")
            </section>
        }
        else
        {
            <section id="iq-upcoming-movie" class="pt-5">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 overflow-hidden">
                            <div class="iq-main-header d-flex align-items-center justify-content-between">
                                <h4 class="main-title">Suggest For You</h4>
                            </div>
                            <div class="upcoming-contens">
                                <ul class="favorites-slider list-inline row p-0 mb-0">
                                    @Html.Partial("_PartialSortDate")
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        }
        
        <section id="iq-favorites">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 overflow-hidden">
                        <div class="iq-main-header d-flex align-items-center justify-content-between">
                            <h4 class="main-title">Top 5 Movies</h4>
                        </div>
                        <div class="favorites-contens">
                            <ul class="favorites-slider list-inline row p-0 mb-0">
                                @Html.Partial("_PartialTop5MovieView")
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="iq-upcoming-movie">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 overflow-hidden">
                        <div class="iq-main-header d-flex align-items-center justify-content-between">
                            <h4 class="main-title">New Movies</h4>
                        </div>
                        <div class="upcoming-contens">
                            <ul class="favorites-slider list-inline row p-0 mb-0">
                                @Html.Partial("_PartialSortDate")
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
            @Html.Partial("_PartialTop1Movie")
        
    </div>
</section>

