@using LAMovies_NET6.Models
@{
    var Movie = ViewBag.listUpdate;
}

@if(Movie != null)
{
    <div id="home-slider" class="slider m-0 p-0">
        @foreach (var item in Movie)
        {
            <div style="background-image: url(@item.uriImgCover);" class="slide slick-bg s-bg-1">
                <div class="container-fluid position-relative h-100">
                    <div class="slider-inner h-100">
                        <div class="row align-items-center  h-100">
                            <div class="col-xl-6 col-lg-12 col-md-12">

                                <h1 class="slider-text big-title title text-uppercase">@item.nameMovie</h1>

                                <div class="d-flex flex-wrap align-items-center fadeInLeft animated" style="opacity: 1;">
                                    <div class="d-flex align-items-center mt-2 mt-md-3">
                                        <span class="badge badge-danger p-2">@item.qualityMovie</span>
                                        <span class="ml-3 badge badge-secondary p-2">@item.minAgeMovie +</span>
                                        <span class="ml-3 badge badge-dark p-2">@item.yearCreateMovie</span>
                                        <span class="ml-3">@item.viewMovie view</span>
                                        <span class="ml-3">@item.timeMovie</span>
                                    </div>
                                </div>

                                <p>
                                    @item.descriptionMovie
                                </p>
                                <div class="trending-list">
                                    <div class="text-primary title genres">
                                        Genres: <span class="text-body">
                                            @{
                                                var genreNames = item.GenreNames;
                                                for (int i = 0; i < genreNames.Count; i++)
                                                {
                                                    var actor = genreNames[i];
                                                    <a href="#" onclick="window.location.href='/Genre/ListMovieByGenres?name=@actor'">
                                                        @actor 
                                                    </a>
                                                    if (i < genreNames.Count - 1)
                                                    {
                                                        <text>,</text>
                                                    }
                                                }
                                            }
                                        </span>
                                    </div>
                                    <div class="text-primary title starring">
                                        Directors: <span class="text-body">
                                            Anthony Russo, Joe Russo
                                        </span>
                                    </div>
                                    <div class="text-primary title tag">
                                        Actor: <span class="text-body">
                                            @{
                                                var actorNames = item.ActorNames;
                                                for (int i = 0; i < actorNames.Count; i++)
                                                {
                                                    var actor = actorNames[i];
                                                    <a href="#" onclick="window.location.href='/Actor/ListMovieByActor?name=@actor'">
                                                        @actor 
                                                    </a>
                                                    if (i < actorNames.Count - 1)
                                                    {
                                                        <text>,</text>
                                                    }
                                                }
                                            }
                                        </span>
                                    </div>
                                </div>

                                <div class="d-flex align-items-center r-mb-23" data-animation-in="fadeInUp" data-delay-in="0.5">
                                    <a onclick="window.location.href='/Movies/MovieDetail?movieId=@item.idMovie'" class="btn btn-danger iq-button">
                                        <i class="fa-solid fa-circle-info"></i>
                                        More Details
                                    </a>
                                    <a href="@item.uriMovieTrailer"
                                       class="video-open btn btn-danger iq-button ml-3">
                                        <i class="fa-solid fa-tv"></i>
                                        Watch Trailer
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>

}
