@using LAMovies_NET6.Models
@{
    var Movie = ViewBag.top1;
}

@if (Movie != null)
{
        <section id="parallex" class="parallax-window">
            <div class="container-fluid h-100">
                <div class="row align-items-center justify-content-center h-100 parallaxt-details">
                    <div class="col-lg-4 r-mb-23">
                        <div class="text-left">
                            <h1 class="slider-text big-title title text-uppercase">@Movie.nameMovie</h1>
                            <div class="d-flex flex-wrap align-items-center fadeInLeft animated" style="opacity: 1;">
                                <div class="d-flex align-items-center mt-2 mt-md-3">
                                    <span class="badge badge-danger p-2">@Movie.qualityMovie</span>
                                    <span class="ml-3 badge badge-secondary p-2">@Movie.minAgeMovie +</span>
                                    <span class="ml-3 badge badge-dark p-2">@Movie.yearCreateMovie</span>
                                    <span class="ml-3">@Movie.viewMovie view</span>
                                    <span class="ml-3">@Movie.timeMovie</span>
                                </div>
                            </div>
                            <p class="pt-3">
                                @Movie.descriptionMovie
                            </p>
                        <div class="trending-list">
                            <div class="text-primary title genres">
                                Genres: <span class="text-body">
                                    @foreach (var genre in Movie.GenreNames)
                                    {
                                        <a href="#">
                                            @genre
                                        </a>
                                    }
                                </span>
                            </div>
                            <div class="text-primary title starring">
                                Directors: <span class="text-body">
                                    Anthony Russo, Joe Russo
                                </span>
                            </div>
                            <div class="text-primary title tag">
                                Actor: <span class="text-body">
                                    Robert Downey Jr., Chris Evans, Mark Ruffalo,...
                                </span>
                            </div>
                        </div>
                            <div class="parallax-buttons pt-4">
                                <a onclick="window.location.href='/Movies/MovieDetail?movieId=@Movie.idMovie'" class="text-white btn btn-danger iq-button">
                                    <i class="fa-solid fa-circle-info"></i>
                                    More Details
                                </a>
                                <a href="@Movie.uriMovieTrailer"
                                   class="video-open btn btn-danger iq-button ml-3">
                                    <i class="fa-solid fa-tv"></i>
                                    Watch Trailer
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="parallax-img">
                            <a href="movie-details.html">
                                <img src="@Movie.uriImgCover" class="img-fluid w-100" alt="bailey">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    }

